body {
  text-align: center;
  background-color: #011F3F;
}
h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  margin:  5%;
  color: #ff760e;
  line-height: 100px;
}
#level-title,#level-end {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  30px;
  color: #e7e7ff;
  line-height: 100px;
}
span{
  color: #ff760e;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.9;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}





@media (max-width:1110px)
{
  body{
    width: auto;
  }
  #level-title,#level-end{
    font-size:3rem;
    font-family: 'Press Start 2P', cursive;
    margin:  5%;
    color: #e7e7ff;
  }

  h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5rem;
    margin:  8%;
    color: #ff760e;
  }

.btn {
  margin: 15px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}


.container {
  display: block;
  width: 100%;
  margin: auto;

}

}

@media (max-width:720px){
  body{
    width: auto;
  }
  #level-title,#level-end{
  font-size:2rem;
  font-family: 'Press Start 2P', cursive;
  margin:  10% 1%;
  color: #e7e7ff;
  line-height: 40px;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}
h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  8%;
  color: #ff760e;
  line-height: 50px;
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}
}
